server:
  port: 8080

#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://eureka:8761/eureka/

spring:
  application:
    name: gateway
  main:
    web-application-type: reactive
  cloud:
    zookeeper:
      connect-string: zookeeper:2181 # Адрес Zookeeper
      discovery:
        root: /services # Общий префикс для регистрации
        enabled: true
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedHeaders: "*"
            exposedHeaders: "Location"
            allowedMethods:
              - POST
              - PUT
              - GET
              - DELETE
